<div class="container">
    <div [hidden]="enviat">
        <h1>Tasca</h1>
        <div class="form-group">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Tasca</div>
                    <div class="panel-body">
                        <input #entrada>
                        <button class="btn btn-info active" (click)="afegirTasca(entrada.value)">Afegeix</button>
                    </div>
                </div>
            </div>
        </div>
        <h2>Tasques:</h2>
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tasca</th>
                        <th>Temps</th>
                        <th>Data</th>
                        <th>Estat</th>
                        <th>Operació</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#tasca of tasques">
                        <td>{{ tasca.id }} </td>
                        <td>{{ tasca.task }} </td>
                        <td>{{ tasca.min }}:{{ tasca.seg }} </td>
                        <td>{{ tasca.data}}</td>
                        <td><img src="images/{{ tasca.fin }}.png" width="15px" height="15px"></td>
                        <td>
                            <button class="btn btn-info active" (click)="esborrarTasca(tasca.id)">Esborra</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form (ngSubmit)="valida()" #tascaForm="ngForm">
            <button class="btn btn-info active">Llista</button>
        </form>
    </div>
    <div [hidden]="!enviat">
        <br>
        <br>
        <select class="form-control" #combo>
            <option *ngFor="#tasca of tasques" [value]="tasca.id">{{tasca.task}}</option>
        </select>
        <button class="btn btn-info active" (click)="afegirTimer(combo.value)">Afegeix</button>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Timer</div>
            <div class="panel-body" align='center'>
                <h4>ID: {{id}} Tasca: {{task}}</h4>
                <h2>{{min}}:{{seg}}</h2>
                <div class="controls">
                    <button class="btn btn-info active" (click)="startTime()">Start</button>
                    <button class="btn btn-info active" (click)="stopTime()">Stop</button>
                    <button class="btn btn-info active" (click)="resetTime()">Reset</button>
                </div>
                <br>
                <br>
                <div class="controls">
                    <button class="btn btn-info active" (click)="guarda(id, task, min, seg)">Guarda</button>
                </div>
            </div>
        </div>
        <form (ngSubmit)="valida()" #tascaForm="ngForm">
            <button class="btn btn-info active" (click)="enviat=false">Llista</button>
        </form>
    </div>
</div>
