<div class="container">
    <div [hidden]="enviat">
        <div>
            <p>Recorda que si fas click a sobre de les capçaleres de la grid les tasques s'ordenen.</p>
        </div>
        <h1>Tasca</h1>
        <div class="form-group">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Tasca</div>
                    <div class="panel-body">
                        <input #entrada>
                        <button class="btn btn-info active" (click)="afegirTasca(entrada.value)">Afegeix</button>
                    </div>
                    <form (ngSubmit)="valida()" #tascaForm="ngForm">
                        <button class="btn btn-info active">Pomodoro</button>
                    </form>
                </div>
            </div>
        </div>
        <h2>Tasques:</h2>
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th (click)="ordenar('1')">ID</th>
                        <th (click)="ordenar('2')">Tasca</th>
                        <th (click)="ordenar('3')">Temps</th>
                        <th (click)="ordenar('4')">Data</th>
                        <th (click)="ordenar('5')">Estat</th>
                        <th>Operació</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#tasca of tasques" class="info">
                        <td>{{ tasca.id }}</td>
                        <td>{{ tasca.task }} </td>
                        <td>{{ tasca.min }}:{{ tasca.seg }} </td>
                        <td>{{ tasca.data}}</td>
                        <td><img src="images/{{ tasca.fin }}.png" width="15px" height="15px"></td>
                        <td>
                            <button class="btn btn-info active" (click)="esborrarTasca(tasca.id)">Esborra</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div [hidden]="!enviat">
        <br>
        <br>
        <select class="form-control" #combo (click)="afegirTimer(combo.value)">
            <option *ngFor="#tasca of tasques" [value]="tasca.id">{{tasca.task}}</option>
        </select>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Timer</div>
            <div class="panel-body" align='center'>
                <h4>ID: {{id}} Tasca: {{task}}</h4>
                <h2>{{min}}:{{seg}}</h2>
                <div class="controls">
                    <button class="btn btn-info active" (click)="Time('1')">Start</button>
                    <button class="btn btn-info active" (click)="Time('2')">Stop</button>
                    <button class="btn btn-info active" (click)="Time('0')">Reset</button>
                </div>
                <br>
                <br>
            </div>
        </div>
        <form (ngSubmit)="valida()" #tascaForm="ngForm">
            <button class="btn btn-info active" (click)="enviat=false">Llista</button>
        </form>
    </div>
</div>
